Analyzing the ecommerce sales dataset

In [1]:
#importing the necessary libraries

import pandas as pd

In [2]:
# loading the dataset

sales_data = pd.read_csv("dataset/sales_data_clean.csv")
sales_data.info()
sales_data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   int64
 1   State          1000 non-null   object
 2   Product        1000 non-null   object
 3   Price          1000 non-null   float64
 4   Quantity       1000 non-null   float64
 5   OrderDate      198 non-null    object
 6   PaymentStatus  1000 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB

,OrderID,State,Product,Price,Quantity,OrderDate,PaymentStatus
0,1,PORT HARCOURT,samsung phone,120000.0,1.0,2024-11-02,failed
1,2,KADUNA,samsung phone,250.0,1.0,NaN,pending
2,3,ENUGU,hp laptop,35000.0,1.0,NaN,paid
3,4,LAGOS,hp laptop,250000.0,1.0,NaN,pending
4,5,ABUJA,hp laptop,250.0,3.0,NaN,pending
5,6,PORT HARCOURT,infinix phone,450.0,3.0,NaN,paid
6,7,KADUNA,hp laptop,120000.0,1.0,NaN,paid
7,8,PORT HARCOURT,iphone x,120000.0,3.0,NaN,paid
8,9,ABUJA,samsung phone,250.0,1.0,NaN,failed
9,10,JOS,samsung phone,150.0,1.0,2024-11-30,paid

In [ ]:
#Ta