Nigerian E-commerce Sales Data Cleaning Challenge
Alawode Wisdom Olabowale
#100daysofcode Day 20

In [27]:
#importing the pandas library

import pandas as pd

In [28]:
#importing the dataset

sales_data = pd.read_csv("dataset/raw_sales_data_1000_rows.csv")

In [29]:
#inspecting the first 10 lines

sales_data.head(10)

,OrderID,CustomerName,Phone,State,Product,Price,Quantity,OrderDate,PaymentStatus,Email
0,1,CHINEDU OKAFOR,08041849539,PORT HARCOURT,SAMSUNG PHONE,"120,000",NaN,Nov 02 2024,FAILED,CHINEDU@EMAIL.COM
1,2,janet olawale,08028915945,Kaduna,samsung phone,250.000,1.0,05-10-2024,pending,CHINEDU@EMAIL.COM
2,3,janet olawale,not available,enugu,HP laptop,"35,000",NaN,14-10-2024,Paid,kingsley@mail.com
3,4,ferdinand nwoke,0809 074 6007,Lagos,HP Laptop,250000,NaN,14-10-2024,Pending,chika@mail.com
4,5,CHINEDU OKAFOR,0806 482 5289,Abuja,HP Laptop,250.000,3.0,10/11/2024,Pending,chika@mail.com
5,6,joy okafor,0806 513 3325,PORT HARCOURT,infinix phone,450.000,3.0,2024-11-29,Paid,NaN
6,7,amaka obinna,0804-624-6872,KADUNA,hp laptop,"120,000",1.0,19-10-2024,Paid,CHINEDU@EMAIL.COM
7,8,ferdinand nwoke,0805 384 8527,PORT HARCOURT,iPhone X,120000,3.0,2024-10-07,Paid,abdul@mail
8,9,janet olawale,0800-179-7745,Abuja,SAMSUNG PHONE,250.000,NaN,08-11-2024,failed,CHINEDU@EMAIL.COM
9,10,Blessing Okorie,0809 772 6773,JOS,Samsung Phone,150.000,1.0,Nov 30 2024,Paid,NaN

In [30]:
#inspecting the last 10 rows

sales_data.tail(10)

,OrderID,CustomerName,Phone,State,Product,Price,Quantity,OrderDate,PaymentStatus,Email
990,991,GRACE DANIEL,0806 652 8856,port harcourt,HP Laptop,150000,2.0,2024-10-15,failed,NaN
991,992,daniel okoro,NaN,Jos,AirPods,"150,000",1.0,2024/11/04,FAILED,kingsley@mail.com
992,993,Chinedu Okafor,0805 673 7113,PORT HARCOURT,hp laptop,250000,2.0,Nov 27 2024,Pending,abdul@mail
993,994,gbenga isaac,0800-464-9510,Abuja,iPhone X,120000,1.0,06/10/2024,Pending,danokoro@mail
994,995,adebayo femi,0803-655-5001,Kaduna,hp laptop,150000,NaN,18-10-2024,failed,abdul@mail
995,996,ESTHER JOHN,0809-165-3511,ABUJA,Infinix Phone,450.000,1.0,Nov 20 2024,failed,janet@mail.com
996,997,daniel okoro,0805-206-0291,lagos,HP laptop,"120,000",1.0,2024/10/15,failed,gbenga@
997,998,KINGSLEY ONU,not available,Kaduna,samsung phone,"35,000",NaN,Nov 08 2024,FAILED,chinedu@email.com
998,999,amina ibrahim,0809 207 4939,LAGOS,SAMSUNG PHONE,35.000,NaN,Nov 16 2024,PENDING,blessing@mail.com
999,1000,FAITH JOHN,08020548105,enugu,samsung phone,120.000,NaN,24/10/2024,PAID,NaN

In [31]:
#Getting the info on the data 

sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   int64
 1   CustomerName   1000 non-null   object
 2   Phone          815 non-null    object
 3   State          1000 non-null   object
 4   Product        1000 non-null   object
 5   Price          1000 non-null   object
 6   Quantity       631 non-null    float64
 7   OrderDate      1000 non-null   object
 8   PaymentStatus  1000 non-null   object
 9   Email          849 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

In [32]:
#Getting data statistics
sales_data.describe()

           OrderID    Quantity
count  1000.000000  631.000000
mean    500.500000    1.912837
std     288.819436    0.826357
min       1.000000    1.000000
25%     250.750000    1.000000
50%     500.500000    2.000000
75%     750.250000    3.000000
max    1000.000000    3.000000

In [33]:
#checking for missing values

sales_data.isnull().sum()

OrderID            0
CustomerName       0
Phone            185
State              0
Product            0
Price              0
Quantity         369
OrderDate          0
PaymentStatus      0
Email            151
dtype: int64

In [34]:
#filling missing data in the dataset

sales_data["Phone"] = sales_data["Phone"].fillna("not available")
sales_data["Quantity"] = sales_data["Quantity"].fillna(1)
sales_data["Email"] = sales_data["Email"].fillna("unkwoknemail@gmail.com")

In [35]:
sales_data.isnull().sum()

OrderID          0
CustomerName     0
Phone            0
State            0
Product          0
Price            0
Quantity         0
OrderDate        0
PaymentStatus    0
Email            0
dtype: int64

In [36]:
#fixing incorrect datatypes

sales_data["OrderID"] = pd.to_numeric(sales_data["OrderID"])
sales_data["Phone"] = sales_data["Phone"].astype(str).str.replace(r'\D', "", regex=True)
sales_data["Price"] = sales_data["Price"].replace({',': '', '.': ''}, regex = True)
sales_data["Quantity"] = pd.to_numeric(sales_data["Quantity"])

In [37]:
#removing duplicates

sales_data = sales_data.drop_duplicates()

In [38]:
sales_data

,OrderID,CustomerName,Phone,State,Product,Price,Quantity,OrderDate,PaymentStatus,Email
0,1,CHINEDU OKAFOR,08041849539,PORT HARCOURT,SAMSUNG PHONE,,1.0,Nov 02 2024,FAILED,CHINEDU@EMAIL.COM
1,2,janet olawale,08028915945,Kaduna,samsung phone,,1.0,05-10-2024,pending,CHINEDU@EMAIL.COM
2,3,janet olawale,,enugu,HP laptop,,1.0,14-10-2024,Paid,kingsley@mail.com
3,4,ferdinand nwoke,08090746007,Lagos,HP Laptop,,1.0,14-10-2024,Pending,chika@mail.com
4,5,CHINEDU OKAFOR,08064825289,Abuja,HP Laptop,,3.0,10/11/2024,Pending,chika@mail.com
...,...,...,...,...,...,...,...,...,...,...
995,996,ESTHER JOHN,08091653511,ABUJA,Infinix Phone,,1.0,Nov 20 2024,failed,janet@mail.com
996,997,daniel okoro,08052060291,lagos,HP laptop,,1.0,2024/10/15,failed,gbenga@
997,998,KINGSLEY ONU,,Kaduna,samsung phone,,1.0,Nov 08 2024,FAILED,chinedu@email.com
998,999,amina ibrahim,08092074939,LAGOS,SAMSUNG PHONE,,1.0,Nov 16 2024,PENDING,blessing@mail.com
999,1000,FAITH JOHN,08020548105,enugu,samsung phone,,1.0,24/10/2024,PAID,unkwoknemail@gmail.com

In [39]:
sales_data.head(10)

,OrderID,CustomerName,Phone,State,Product,Price,Quantity,OrderDate,PaymentStatus,Email
0,1,CHINEDU OKAFOR,08041849539,PORT HARCOURT,SAMSUNG PHONE,,1.0,Nov 02 2024,FAILED,CHINEDU@EMAIL.COM
1,2,janet olawale,08028915945,Kaduna,samsung phone,,1.0,05-10-2024,pending,CHINEDU@EMAIL.COM
2,3,janet olawale,,enugu,HP laptop,,1.0,14-10-2024,Paid,kingsley@mail.com
3,4,ferdinand nwoke,08090746007,Lagos,HP Laptop,,1.0,14-10-2024,Pending,chika@mail.com
4,5,CHINEDU OKAFOR,08064825289,Abuja,HP Laptop,,3.0,10/11/2024,Pending,chika@mail.com
5,6,joy okafor,08065133325,PORT HARCOURT,infinix phone,,3.0,2024-11-29,Paid,unkwoknemail@gmail.com
6,7,amaka obinna,08046246872,KADUNA,hp laptop,,1.0,19-10-2024,Paid,CHINEDU@EMAIL.COM
7,8,ferdinand nwoke,08053848527,PORT HARCOURT,iPhone X,,3.0,2024-10-07,Paid,abdul@mail
8,9,janet olawale,08001797745,Abuja,SAMSUNG PHONE,,1.0,08-11-2024,failed,CHINEDU@EMAIL.COM
9,10,Blessing Okorie,08097726773,JOS,Samsung Phone,,1.0,Nov 30 2024,Paid,unkwoknemail@gmail.com

In [40]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   int64
 1   CustomerName   1000 non-null   object
 2   Phone          1000 non-null   object
 3   State          1000 non-null   object
 4   Product        1000 non-null   object
 5   Price          1000 non-null   object
 6   Quantity       1000 non-null   float64
 7   OrderDate      1000 non-null   object
 8   PaymentStatus  1000 non-null   object
 9   Email          1000 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

In [41]:
#fixing messy texts

#removing extra spaces from the data column
sales_data["CustomerName"] = sales_data["CustomerName"].str.strip().str.replace(r'\s+', ' ', regex=True)

#making all texts upper case in the states column
sales_data["State"] = sales_data["State"].str.upper()

#making all texts in product lower
sales_data["Product"] = sales_data["Product"].str.lower()

#making all texts in PaymentStatus lower
sales_data["PaymentStatus"] = sales_data["PaymentStatus"].str.lower()

#making all texts in email lower
sales_data["Email"] = sales_data["Email"].str.lower()

In [42]:
#saving the newly cleaned dataset
sales_data.to_csv("dataset/cleaned_sales_data.csv",index = False)