 Nigerian ecommerce dataset cleaning #100daysofcodeday21

In [2]:
#impoting the pandas library

import pandas as pd

In [7]:
#importing and loading the dataset

sales_data = pd.read_csv("dataset/raw_sales_data_1000_rows.csv")
sales_data.info()
sales_data.head()
sales_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   int64
 1   CustomerName   1000 non-null   object
 2   Phone          815 non-null    object
 3   State          1000 non-null   object
 4   Product        1000 non-null   object
 5   Price          1000 non-null   object
 6   Quantity       631 non-null    float64
 7   OrderDate      1000 non-null   object
 8   PaymentStatus  1000 non-null   object
 9   Email          849 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

           OrderID    Quantity
count  1000.000000  631.000000
mean    500.500000    1.912837
std     288.819436    0.826357
min       1.000000    1.000000
25%     250.750000    1.000000
50%     500.500000    2.000000
75%     750.250000    3.000000
max    1000.000000    3.000000

In [9]:
#checking for missing values

sales_data.isnull().sum()

OrderID            0
CustomerName       0
Phone            185
State              0
Product            0
Price              0
Quantity         369
OrderDate          0
PaymentStatus      0
Email            151
dtype: int64

In [10]:
#filling missing data

sales_data["Phone"] = sales_data["Phone"].fillna("not available")
sales_data["Quantity"] = sales_data["Quantity"].fillna(1)
sales_data["Email"] = sales_data["Email"].fillna("unkownemail@gmail.com")
sales_data.isnull().sum()

OrderID          0
CustomerName     0
Phone            0
State            0
Product          0
Price            0
Quantity         0
OrderDate        0
PaymentStatus    0
Email            0
dtype: int64