 Nigerian ecommerce dataset cleaning #100daysofcodeday21

In [1]:
#impoting the pandas library

import pandas as pd
import matplotlib.pyplot as plt

In [44]:
#importing and loading the dataset

sales_data = pd.read_csv("dataset/raw_sales_data_1000_rows.csv")
sales_data.info()
sales_data.head()
sales_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   int64
 1   CustomerName   1000 non-null   object
 2   Phone          815 non-null    object
 3   State          1000 non-null   object
 4   Product        1000 non-null   object
 5   Price          1000 non-null   object
 6   Quantity       631 non-null    float64
 7   OrderDate      1000 non-null   object
 8   PaymentStatus  1000 non-null   object
 9   Email          849 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

           OrderID    Quantity
count  1000.000000  631.000000
mean    500.500000    1.912837
std     288.819436    0.826357
min       1.000000    1.000000
25%     250.750000    1.000000
50%     500.500000    2.000000
75%     750.250000    3.000000
max    1000.000000    3.000000

In [45]:
#checking for missing values

sales_data.isnull().sum()

OrderID            0
CustomerName       0
Phone            185
State              0
Product            0
Price              0
Quantity         369
OrderDate          0
PaymentStatus      0
Email            151
dtype: int64

In [46]:
#filling missing data

sales_data["Phone"] = sales_data["Phone"].fillna("not available")
sales_data["Quantity"] = sales_data["Quantity"].fillna(1)
sales_data["Email"] = sales_data["Email"].fillna("unkownemail@gmail.com")
sales_data.isnull().sum()

OrderID          0
CustomerName     0
Phone            0
State            0
Product          0
Price            0
Quantity         0
OrderDate        0
PaymentStatus    0
Email            0
dtype: int64

In [47]:
#checking for duplicates

sales_data.duplicated().any()
sales_data.duplicated().sum()

np.int64(0)

In [48]:
#Checking for incorrect datatypes

sales_data.info()
sales_data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   int64
 1   CustomerName   1000 non-null   object
 2   Phone          1000 non-null   object
 3   State          1000 non-null   object
 4   Product        1000 non-null   object
 5   Price          1000 non-null   object
 6   Quantity       1000 non-null   float64
 7   OrderDate      1000 non-null   object
 8   PaymentStatus  1000 non-null   object
 9   Email          1000 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

,OrderID,CustomerName,Phone,State,Product,Price,Quantity,OrderDate,PaymentStatus,Email
0,1,CHINEDU OKAFOR,08041849539,PORT HARCOURT,SAMSUNG PHONE,"120,000",1.0,Nov 02 2024,FAILED,CHINEDU@EMAIL.COM
1,2,janet olawale,08028915945,Kaduna,samsung phone,250.000,1.0,05-10-2024,pending,CHINEDU@EMAIL.COM
2,3,janet olawale,not available,enugu,HP laptop,"35,000",1.0,14-10-2024,Paid,kingsley@mail.com
3,4,ferdinand nwoke,0809 074 6007,Lagos,HP Laptop,250000,1.0,14-10-2024,Pending,chika@mail.com
4,5,CHINEDU OKAFOR,0806 482 5289,Abuja,HP Laptop,250.000,3.0,10/11/2024,Pending,chika@mail.com
5,6,joy okafor,0806 513 3325,PORT HARCOURT,infinix phone,450.000,3.0,2024-11-29,Paid,unkownemail@gmail.com
6,7,amaka obinna,0804-624-6872,KADUNA,hp laptop,"120,000",1.0,19-10-2024,Paid,CHINEDU@EMAIL.COM
7,8,ferdinand nwoke,0805 384 8527,PORT HARCOURT,iPhone X,120000,3.0,2024-10-07,Paid,abdul@mail
8,9,janet olawale,0800-179-7745,Abuja,SAMSUNG PHONE,250.000,1.0,08-11-2024,failed,CHINEDU@EMAIL.COM
9,10,Blessing Okorie,0809 772 6773,JOS,Samsung Phone,150.000,1.0,Nov 30 2024,Paid,unkownemail@gmail.com

In [49]:
#deleting unnecessary columns

sales_data = sales_data.drop(["CustomerName", "Phone", "Email"], axis = 1)
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   int64
 1   State          1000 non-null   object
 2   Product        1000 non-null   object
 3   Price          1000 non-null   object
 4   Quantity       1000 non-null   float64
 5   OrderDate      1000 non-null   object
 6   PaymentStatus  1000 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

In [52]:
#fixing incorrect datatypes

sales_data["OrderID"] = pd.to_numeric(sales_data["OrderID"])
sales_data["State"] = sales_data["State"].str.upper()
sales_data["Price"] = sales_data["Price"].astype(str)
sales_data["Price"] = sales_data["Price"].str.replace(",", "", regex = True)
sales_data["Price"] = pd.to_numeric(sales_data["Price"])
sales_data["Product"] = sales_data["Product"].str.lower()
sales_data["Quantity"] = pd.to_numeric(sales_data["Quantity"])
sales_data["OrderDate"] = pd.to_datetime(sales_data["OrderDate"], errors = "coerce", dayfirst = True)
sales_data["PaymentStatus"] = sales_data["PaymentStatus"].str.lower()
sales_data.head(10)

,OrderID,State,Product,Price,Quantity,OrderDate,PaymentStatus
0,1,PORT HARCOURT,samsung phone,120000.0,1.0,2024-11-02,failed
1,2,KADUNA,samsung phone,250.0,1.0,NaT,pending
2,3,ENUGU,hp laptop,35000.0,1.0,NaT,paid
3,4,LAGOS,hp laptop,250000.0,1.0,NaT,pending
4,5,ABUJA,hp laptop,250.0,3.0,NaT,pending
5,6,PORT HARCOURT,infinix phone,450.0,3.0,NaT,paid
6,7,KADUNA,hp laptop,120000.0,1.0,NaT,paid
7,8,PORT HARCOURT,iphone x,120000.0,3.0,NaT,paid
8,9,ABUJA,samsung phone,250.0,1.0,NaT,failed
9,10,JOS,samsung phone,150.0,1.0,2024-11-30,paid

In [53]:
#saving the dataset to csv

sales_data.to_csv("dataset/sales_data_clean.csv", index = False)